 Python for Data Analysis and Data Science - Complete Notes

## Day 1 & 2: Introduction to Python

### 1. Need for Programming Language in Data Analysis and Data Science

"""
Why do we need programming in DA and DS?

1. Automation: Process large datasets automatically instead of manually
2. Reproducibility: Write code once, run multiple times with different data
3. Efficiency: Handle millions of rows of data in seconds
4. Complex Analysis: Perform statistical analysis, machine learning, and visualization
5. Scalability: Analyze small to extremely large datasets with same code

Real-world example:
- Manual Excel work: Analyzing 1000 rows might take hours
- Python: Can analyze millions of rows in minutes
"""

### 2. What is Python and Why Python?

"""
What is Python?
- Python is a high-level, interpreted programming language
- Created by Guido van Rossum in 1991
- Known for simple, readable syntax

Why Python for Data Analysis and Data Science?

1. Easy to Learn: Simple syntax, reads like English
2. Rich Libraries: NumPy, Pandas, Matplotlib, Scikit-learn
3. Large Community: Millions of developers, abundant resources
4. Versatile: Web development, automation, AI, data analysis
5. Industry Standard: Used by Google, Netflix, NASA, Instagram
6. Free and Open Source: No cost, anyone can contribute
"""

### 3. Libraries for Data Analysis and Data Science

"""
Essential Python Libraries:

1. NumPy: Numerical computing, arrays, mathematical operations
2. Pandas: Data manipulation, DataFrames, data cleaning
3. Matplotlib: Data visualization, creating plots and charts
4. Seaborn: Statistical data visualization, beautiful plots
5. Scikit-learn: Machine learning algorithms
6. TensorFlow/PyTorch: Deep learning and neural networks
7. SciPy: Scientific computing, statistics
8. Statsmodels: Statistical modeling and hypothesis testing
"""

### 4. IDEs for Python

"""
Popular IDEs and Environments:

1. Jupyter Notebook: Interactive notebooks, great for learning
2. Google Colab: Cloud-based Jupyter notebooks, free GPU
3. PyCharm: Professional IDE with many features
4. VS Code: Lightweight, extensible code editor
5. Spyder: IDE designed for data science
6. IDLE: Built-in Python IDE, simple for beginners
"""

In [ ]:
### 5. Running Simple Commands

# print() function - displays output
print("Hello, Students!")
print("Welcome to Python Programming")

Hello, Students!
Welcome to Python Programming

In [ ]:
# Multiple items in print
print("Python", "is", "awesome")

Python is awesome

In [ ]:
# Print numbers
print(42)
print(3.14)

42
3.14

In [ ]:
# type() function - shows data type
print(type(10))
print(type(3.14))
print(type("Hello"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# Example: Checking types
name = "Alice"
age = 25
print("Name:", name, "Type:", type(name))
print("Age:", age, "Type:", type(age))

Name: Alice Type: <class 'str'>
Age: 25 Type: <class 'int'>

"""
PRACTICE EXERCISE 1:
1. Print your name and age
2. Use type() to check the data type of your name
3. Use type() to check the data type of your age
4. Print a message: "I am learning Python for Data Science"
"""

## Day 3: Variables and Data Types

### 1. Creating Simple Variables

"""
What is a Variable?
- A variable is a container that stores data
- Think of it as a labeled box where you keep information
"""

In [ ]:
# Creating variables
student_name = "Rahul"
student_age = 20
student_marks = 85.5
is_passed = True

In [ ]:
print(student_name)
print(student_age)
print(student_marks)
print(is_passed)

Rahul
20
85.5
True

In [ ]:
# Multiple variables at once
x, y, z = 10, 20, 30
print(x, y, z)

10 20 30

In [ ]:
# Same value to multiple variables
a = b = c = 100
print(a, b, c)

100 100 100

### 2. Rules for Naming Variables

"""
Variable Naming Rules:

✓ CORRECT:
- Must start with letter or underscore: student_name, _temp
- Can contain letters, numbers, underscore: student1, data_2024
- Case sensitive: Name and name are different
- Use descriptive names: total_marks (good) vs tm (bad)

✗ WRONG:
- Cannot start with number: 1student
- Cannot use special characters: student-name, student@email
- Cannot use Python keywords: print, for, if, class
- Avoid spaces: student name (wrong), student_name (correct)

Best Practices:
- Use lowercase with underscores: student_marks
- Use meaningful names: total_score instead of ts
- Constants in UPPERCASE: PI = 3.14159
"""

In [ ]:
# Examples
student_name = "Priya"
_private_var = 42
student1_marks = 95

# 1student = "John"
# student-name = "Mike"

my_variable = "Data Science"
CONSTANT_VALUE = 3.14

"""
PRACTICE EXERCISE 2:
1. Create variables for: your name, city, favorite number, and whether you like programming
2. Print all variables
3. Try creating a variable with a wrong name (with number at start) and see the error
"""

### 3. Numeric Data Types

In [ ]:
# Integer (int) - Whole numbers
age = 25
year = 2024
quantity = -10
print("Integer examples:", age, year, quantity)
print("Type:", type(age))

Integer examples: 25 2024 -10
Type: <class 'int'>

In [ ]:
# Float - Decimal numbers
price = 99.99
temperature = 36.6
pi = 3.14159
print("Float examples:", price, temperature, pi)
print("Type:", type(price))

Float examples: 99.99 36.6 3.14159
Type: <class 'float'>

In [ ]:
# Boolean - True or False
is_student = True
has_passed = False
is_adult = True
print("Boolean examples:", is_student, has_passed)
print("Type:", type(is_student))

Boolean examples: True False
Type: <class 'bool'>

In [ ]:
# Complex - Complex numbers (rare in basic DA)
complex_num = 3 + 4j
print("Complex example:", complex_num)
print("Type:", type(complex_num))

Complex example: (3+4j)
Type: <class 'complex'>

In [ ]:
# Real-world example
student_name = "Amit"
student_marks = 87.5
is_passed = True
total_students = 50

In [ ]:
print("Student:", student_name)
print("Marks:", student_marks)
print("Passed:", is_passed)
print("Total Students:", total_students)

Student: Amit
Marks: 87.5
Passed: True
Total Students: 50

"""
PRACTICE EXERCISE 3:
1. Create variables for: temperature (float), number of students (int), is_raining (boolean)
2. Print each variable with its type
3. Create a variable for your height in feet (decimal number)
"""

### 4. Sequence Types: Strings, Lists, Tuples

## STRINGS - Text data in quotes

In [ ]:
# Creating strings
single_quote = 'Hello'
double_quote = "World"
multi_line = """This is
a multi-line
string"""

In [ ]:
name = "Python"
message = "Data Science is amazing!"
print(name)
print(message)

Python
Data Science is amazing!

In [ ]:
# String operations
first_name = "Ravi"
last_name = "Kumar"
full_name = first_name + " " + last_name  # Concatenation
print("Full Name:", full_name)

Full Name: Ravi Kumar

In [ ]:
# Repeating strings
laugh = "Ha" * 3
print(laugh)

HaHaHa

In [ ]:
# Creating lists
fruits = ["apple", "banana", "orange", "mango"]
numbers = [1, 2, 3, 4, 5]
mixed = ["Python", 100, 3.14, True]
empty_list = []

In [ ]:
print("Fruits:", fruits)
print("Numbers:", numbers)
print("Mixed:", mixed)
print("Type:", type(fruits))

Fruits: ['apple', 'banana', 'orange', 'mango']
Numbers: [1, 2, 3, 4, 5]
Mixed: ['Python', 100, 3.14, True]
Type: <class 'list'>

In [ ]:
# Accessing list elements (indexing starts at 0)
print("First fruit:", fruits[0])
print("Second fruit:", fruits[1])
print("Last fruit:", fruits[-1])

First fruit: apple
Second fruit: banana
Last fruit: mango

In [ ]:
# List can be modified
fruits[1] = "grapes"
print("Modified fruits:", fruits)

Modified fruits: ['apple', 'grapes', 'orange', 'mango']

In [ ]:
# Real-world example
student_marks = [85, 90, 78, 92, 88]
print("All marks:", student_marks)
print("First student marks:", student_marks[0])
print("Last student marks:", student_marks[-1])

All marks: [85, 90, 78, 92, 88]
First student marks: 85
Last student marks: 88

## TUPLES - Ordered, immutable collection

In [ ]:
# Creating tuples
coordinates = (10, 20)
rgb_color = (255, 0, 128)
student_info = ("Rahul", 20, "Computer Science")
single_item = (42,) # Note the comma for single item

In [ ]:
print("Coordinates:", coordinates)
print("Color:", rgb_color)
print("Student:", student_info)
print("Type:", type(coordinates))

Coordinates: (10, 20)
Color: (255, 0, 128)
Student: ('Rahul', 20, 'Computer Science')
Type: <class 'tuple'>

In [ ]:
# Accessing tuple elements
print("X coordinate:", coordinates[0])
print("Y coordinate:", coordinates[1])
print("Student name:", student_info[0])

X coordinate: 10
Y coordinate: 20
Student name: Rahul

In [ ]:
# Tuples cannot be modified
# coordinates[0] = 30

In [ ]:
# When to use List vs Tuple?
# List: When data might change (shopping cart items)
# Tuple: When data should not change (latitude-longitude, RGB colors)

"""
PRACTICE EXERCISE 4:
1. Create a list of your 5 favorite movies
2. Print the first and last movie from the list
3. Change the second movie to a different one
4. Create a tuple with your birth date (day, month, year)
5. Print the year from the tuple
"""

## Day 4: Type Casting and String Operations

### 1. Type Casting - Converting Data Types


-Type Casting: Converting one data type to another

* Why needed? To perform operations that require specific types

In [ ]:
# Integer to Float
num_int = 10
num_float = float(num_int)
print("Integer:", num_int, type(num_int))
print("To Float:", num_float, type(num_float))

Integer: 10 <class 'int'>
To Float: 10.0 <class 'float'>

In [ ]:
# Float to Integer (decimal part is removed, not rounded)
price = 99.99
price_int = int(price)
print("Float:", price, type(price))
print("To Integer:", price_int, type(price_int))

Float: 99.99 <class 'float'>
To Integer: 99 <class 'int'>

In [ ]:
# String to Integer
age_str = "25"
age_int = int(age_str)
print("String:", age_str, type(age_str))
print("To Integer:", age_int, type(age_int))

String: 25 <class 'str'>
To Integer: 25 <class 'int'>

In [ ]:
# String to Float
price_str = "49.99"
price_float = float(price_str)
print("String:", price_str, type(price_str))
print("To Float:", price_float, type(price_float))

String: 49.99 <class 'str'>
To Float: 49.99 <class 'float'>

In [ ]:
# Integer/Float to String
marks = 95
marks_str = str(marks)
print("Integer:", marks, type(marks))
print("To String:", marks_str, type(marks_str))

Integer: 95 <class 'int'>
To String: 95 <class 'str'>

In [ ]:
# Boolean conversions
print("To Boolean:")
print("int to bool:", bool(0), bool(1), bool(100))  # 0 is False, non-zero is True
print("str to bool:", bool(""), bool("Hello"))

To Boolean:
int to bool: False True True
str to bool: False True

In [ ]:
# Real-world example: User input
user_age = "22"  # User inputs are always strings
user_age_int = int(user_age)
next_year_age = user_age_int + 1
print("Current age:", user_age_int)
print("Next year:", next_year_age)

Current age: 22
Next year: 23

In [ ]:
# Calculation example
num1_str = "10"
num2_str = "20"

In [ ]:
# sum_wrong = num1_str + num2_str  # This gives "1020" (concatenation)
sum_correct = int(num1_str) + int(num2_str)
print("Correct sum:", sum_correct)

Correct sum: 30

PRACTICE EXERCISE 5:
1. Create a string variable with value "100" and convert it to integer
2. Create a float variable 78.9 and convert it to integer
3. Create an integer 50 and convert it to string, then print its type
4. Take two string numbers "15" and "25", convert to integers and find their sum

### 2. Strings: String Methods, Indexing, Slicing

## String Indexing

In [ ]:
text = "Python"
# Index:  0 1 2 3 4 5
#        -6-5-4-3-2-1

print("First character:", text[0])
print("Third character:", text[2])
print("Last character:", text[-1])
print("Second last:", text[-2])

First character: P
Third character: t
Last character: n
Second last: o

In [ ]:
## String Slicing - Extracting parts of string
message = "Data Science"

## String Slicing - Extracting parts of string

In [ ]:
message = "Data Science"
# Syntax: string[start:end]  (end is not included)

print("First 4 characters:", message[0:4])
print("From index 5 to end:", message[5:])
print("From start to index 4:", message[:4])
print("Last 7 characters:", message[-7:])
print("Every 2nd character:", message[::2])
print("Reverse string:", message[::-1])

First 4 characters: Data
From index 5 to end: Science
From start to index 4: Data
Last 7 characters: Science
Every 2nd character: Dt cec
Reverse string: ecneicS ataD

In [ ]:
# Practical examples
email = "student@gmail.com"
username = email[0:7]  # Extract username
print("Username:", username)

phone = "9876543210"
area_code = phone[0:3]
print("Area code:", area_code)

Username: student
Area code: 987

## String Methods

In [ ]:
text = "  Hello World  "
# Case conversion
print("Upper:", text.upper())
print("Lower:", text.lower())
print("Title:", text.title())
print("Capitalize:", text.capitalize())
print("Swap case:", text.swapcase())

Upper:   HELLO WORLD
Lower:   hello world
Title:   Hello World
Capitalize:   hello world
Swap case:   hELLO wORLD

In [ ]:
# Searching
sentence = "Python is easy to learn"
print("Find 'easy':", sentence.find("easy"))
print("Find 'hard':", sentence.find("hard"))  # Returns -1 if not found
print("Count 'a':", sentence.count("a"))

Find 'easy': 10
Find 'hard': -1
Count 'a': 2

In [ ]:
# Replacing
print("Replace:", sentence.replace("easy", "powerful"))

Replace: Python is powerful to learn

In [ ]:
# Splitting and Joining
words = sentence.split()  # Split by space
print("Split:", words)

Split: ['Python', 'is', 'easy', 'to', 'learn']

In [ ]:
joined = " ".join(words)
print("Join:", joined)

Join: Python is easy to learn

In [ ]:
# Checking methods
print("Is digit:", "123".isdigit())
print("Is alpha:", "Hello".isalpha())
print("Is alphanumeric:", "Hello123".isalnum())
print("Starts with:", sentence.startswith("Python"))
print("Ends with:", sentence.endswith("learn"))

Is digit: True
Is alpha: True
Is alphanumeric: True
Starts with: True
Ends with: True

In [ ]:
# Practical example: Data cleaning
dirty_data = "  RAHUL KUMAR  "
clean_data = dirty_data.strip().title()
print("Cleaned:", clean_data)

Cleaned: Rahul Kumar

PRACTICE EXERCISE 6:
1. Create a string "Data Analysis" and print characters at index 0, 5, and -1
2. Extract the word "Analysis" using slicing
3. Convert the string to uppercase
4. Count how many times letter 'a' appears
5. Replace "Analysis" with "Science"

### 3. Concatenation

In [ ]:
# String concatenation with +
first = "Data"
second = "Science"
combined = first + " " + second
print("Concatenation:", combined)

Concatenation: Data Science

In [ ]:
# Concatenating multiple strings
greeting = "Hello" + " " + "Student" + "!"
print(greeting)

Hello Student!

In [ ]:
# Concatenation with variables
name = "Priya"
age = 21
# message = "Name: " + name + ", Age: " + age  # Error! Can't concat string with int
message = "Name: " + name + ", Age: " + str(age)
print(message)

Name: Priya, Age: 21

In [ ]:
# Better way: f-strings (formatted strings)
message_f = f"Name: {name}, Age: {age}"
print(message_f)

Name: Priya, Age: 21

In [ ]:
# Using format method
message_format = "Name: {}, Age: {}".format(name, age)
print(message_format)

Name: Priya, Age: 21

In [ ]:
# Practical example
student = "Amit"
marks = 85
percentage = 85.5
result = f"Student {student} scored {marks} marks with {percentage}% percentage"
print(result)

Student Amit scored 85 marks with 85.5% percentage

In [ ]:
# Multiple line concatenation
address = "House No: 123" + "\n" + "Street: MG Road" + "\n" + "City: Pune"
print(address)

House No: 123
Street: MG Road
City: Pune

PRACTICE EXERCISE 7:
1. Create two string variables with your first name and last name
2. Concatenate them with a space in between
3. Create variables for item name and price, then create a message like "Item: Laptop, Price: 50000"
4. Use f-string to create a message with your name and age

## Day 5: Operators

In [ ]:
### 1. Arithmetic Operators

# Addition
a = 10
b = 3
print("Addition:", a + b)

Addition: 13

In [ ]:
# Subtraction
print("Subtraction:", a - b)

Subtraction: 7

In [ ]:
#  Multiplication
print("Multiplication:", a * b)

Multiplication: 30

In [ ]:
#  Division (always returns float)
print("Division:", a / b)

Division: 3.3333333333333335

In [ ]:
#  Floor Division (returns integer, no decimal)
print("Floor Division:", a // b)

Floor Division: 3

In [ ]:
# Modulus (remainder)
print("Modulus:", a % b)

Modulus: 1

In [ ]:
# Exponentiation (power)
print("Exponentiation:", a ** b)  # 10^3 = 1000

Exponentiation: 1000

In [ ]:
# Real-world examples
total_marks = 450
num_subjects = 5
average = total_marks / num_subjects
print("Average marks:", average)

Average marks: 90.0

In [ ]:
price = 999
discount = 50
final_price = price - discount
print("Final price:", final_price)

Final price: 949

In [ ]:
# Calculate area of rectangle
length = 15
width = 10
area = length * width
print("Area:", area)

Area: 150

In [ ]:
# Check if number is even or odd
number = 17
remainder = number % 2
if remainder == 0:
    print(f"{number} is even")
else:
    print(f"{number} is odd")

17 is odd

PRACTICE EXERCISE 8:
1. Calculate the sum of 456 and 789
2. Divide 100 by 7 and print both regular division and floor division
3. Find the remainder when 50 is divided by 8
4. Calculate 2 to the power of 10
5. Calculate the average of three numbers: 85, 90, 78

### 2. Logical Operators: and, or, not

* Logical operators work with boolean values

* and: True if BOTH conditions are True

* or: True if AT LEAST ONE condition is True

* not: Reverses the boolean value

In [ ]:
# AND operator
print("True and True:", True and True)
print("True and False:", True and False)
print("False and False:", False and False)

True and True: True
True and False: False
False and False: False

In [ ]:
age = 20
has_id = True
can_vote = age >= 18 and has_id
print("Can vote:", can_vote)

Can vote: True

In [ ]:
# OR operator
print("True or True:", True or True)
print("True or False:", True or False)
print("False or False:", False or False)

True or True: True
True or False: True
False or False: False

In [ ]:
is_weekend = False
is_holiday = True
can_relax = is_weekend or is_holiday
print("Can relax:", can_relax)

Can relax: True

In [ ]:
# NOT operator
print("not True:", not True)
print("not False:", not False)

not True: False
not False: True

In [ ]:
is_raining = False
can_play_outside = not is_raining
print("Can play outside:", can_play_outside)

Can play outside: True

In [ ]:
is_raining = False

if not is_raining:
    print("You can go outside!")
else:
    print("Stay indoors.")

You can go outside!

In [ ]:
# Complex conditions
marks = 85
attendance = 80

In [ ]:
passed = marks >= 40 and attendance >= 75
print("Student passed:", passed)

Student passed: True

In [ ]:
scholarship = marks >= 90 or attendance >= 95
print("Gets scholarship:", scholarship)

Gets scholarship: False

In [ ]:
# Real-world example: Login system
username_correct = True
password_correct = True
account_active   = True

In [ ]:
login_success = username_correct and password_correct and account_active
print("Login successful:", login_success)

Login successful: True

In [ ]:
# E-commerce example
in_stock = True
price_affordable = True
delivery_available = False

can_buy = in_stock and price_affordable and delivery_available
print("Can buy product:", can_buy)

Can buy product: False

PRACTICE EXERCISE 9:
1. Create two boolean variables: is_sunny = True, is_warm = True
2. Use 'and' to check if it's both sunny AND warm
3. Create variables: has_bike = False, has_car = True
4. Use 'or' to check if person has any vehicle
5. Use 'not' to reverse the value of is_raining = False

### 3. Assignment Operators

In [ ]:
# Basic assignment
x = 10
print("x =", x)

x = 10

In [ ]:
# Add and assign (+=)
x = 10
x += 5  # Same as: x = x + 5
print("After +=:", x)

After +=: 15

In [ ]:
#  Subtract and assign (-=)
x = 10
x -= 3  # Same as: x = x - 3
print("After -=:", x)

After -=: 7

In [ ]:
# Multiply and assign (*=)
x = 10
x *= 2  # Same as: x = x * 2
print("After *=:", x)

After *=: 20

In [ ]:
# Divide and assign (/=)
x = 10
x /= 2  # Same as: x = x / 2
print("After /=:", x)

After /=: 5.0

In [ ]:
# Floor divide and assign (//=)
x = 10
x //= 3  # Same as: x = x // 3
print("After //=:", x)

After //=: 3

In [ ]:
# Modulus and assign (%=)
x = 10
x %= 3  # Same as: x = x % 3
print("After %=:", x)

After %=: 1

In [ ]:
# Exponent and assign (**=)
x = 2
x **= 3  # Same as: x = x ** 3
print("After **=:", x)

After **=: 8

In [ ]:
# Bank account
balance = 5000
print("Initial balance:", balance)

balance += 2000  # Deposit
print("After deposit:", balance)

balance -= 1500  # Withdrawal
print("After withdrawal:", balance)

Initial balance: 5000
After deposit: 7000
After withdrawal: 5500

In [ ]:
# Shopping cart
total = 0
total += 500
total += 1200
total += 300
print("Total cart value:", total)

Total cart value: 2000

In [ ]:
# Score tracking
score = 0
score += 10  # Level 1
score += 20  # Level 2
score += 15  # Level 3
print("Total score:", score)

Total score: 45

PRACTICE EXERCISE 10:
1. Create a variable count = 5
2. Use += to add 10 to it
3. Use -= to subtract 3 from it
4. Use *= to multiply it by 2
5. Print the final value

### 4. Comparison Operators

In [ ]:
'''Comparison operators return True or False
== : Equal to
!= : Not equal to
>  : Greater than
<  : Less than
>= : Greater than or equal to
<= : Less than or equal to
'''

'Comparison operators return True or False\n== : Equal to\n!= : Not equal to\n>  : Greater than\n<  : Less than\n>= : Greater than or equal to\n<= : Less than or equal to\n'

In [ ]:
# Equal to (==)
print("10 == 10:", 10 == 10)    # True
print("10 == 5:", 10 == 5)      # False
print("'hi' == 'hi':", "hi" == "hi")  # True

10 == 10: True
10 == 5: False
'hi' == 'hi': True

In [ ]:
# Not equal to (!=)
print("10 != 5:", 10 != 5)      # True
print("10 != 10:", 10 != 10)    # False

10 != 5: True
10 != 10: False

In [ ]:
# Greater than (>)
print("10 > 5:", 10 > 5)        # True
print("5 > 10:", 5 > 10)        # False

10 > 5: True
5 > 10: False

In [ ]:
# Less than (<)
print("5 < 10:", 5 < 10)        # True
print("10 < 5:", 10 < 5)        # False

5 < 10: True
10 < 5: False

# Real-world examples

In [ ]:
# Age verification
age = 17
is_adult = age >= 18
print("Is adult:", is_adult)

Is adult: False

In [ ]:
# Grade checking
marks = 85
passed = marks >= 40
print("Passed:", passed)

Passed: True

In [ ]:
grade_a = marks >= 90
print("Grade A:", grade_a)

Grade A: False

In [ ]:
# Price comparison
budget = 5000
item_price = 4500
can_afford = item_price <= budget
print("Can afford:", can_afford)

Can afford: True

In [ ]:
# Temperature check
temperature = 38
has_fever = temperature > 37
print("Has fever:", has_fever)

Has fever: True

In [ ]:
# Combining with logical operators
marks = 85
attendance = 80
scholarship = marks >= 90 and attendance >= 75
print("Eligible for scholarship:", scholarship)

Eligible for scholarship: False

In [ ]:
# Username validation
username = "student123"
valid_length = len(username) >= 6
print("Valid username length:", valid_length)

Valid username length: True

## PRACTICE EXERCISE 11:

1. Create two variables: marks1 = 75, marks2 = 80
2. Check if marks1 is equal to marks2
3. Check if marks1 is less than marks2
4. Create a variable age = 25, check if age >= 21
5. Create price = 1500, budget = 2000, check if price <= budget

In [ ]:
print("\n" + "="*50)
print("FINAL COMPREHENSIVE EXAMPLE")
print("="*50 + "\n")

==================================================
FINAL COMPREHENSIVE EXAMPLE
==================================================

In [ ]:
# Student information
student_name = "Rahul Sharma"
student_age = 21
student_email = "rahul.sharma@email.com"

In [ ]:
# Marks in different subjects
math_marks = 85
science_marks = 90
english_marks = 78
history_marks = 82
computer_marks = 95

In [ ]:
# Calculate total and average
total_marks = math_marks + science_marks + english_marks + history_marks + computer_marks
average_marks = total_marks / 5

In [ ]:
# Display student information
print("STUDENT REPORT CARD")
print("-" * 50)
print(f"Name: {student_name}")
print(f"Age: {student_age}")
print(f"Email: {student_email}")
print("-" * 50)

STUDENT REPORT CARD
--------------------------------------------------
Name: Rahul Sharma
Age: 21
Email: rahul.sharma@email.com
--------------------------------------------------

In [ ]:
# Display marks
print("SUBJECT-WISE MARKS:")
print(f"Mathematics: {math_marks}")
print(f"Science: {science_marks}")
print(f"English: {english_marks}")
print(f"History: {history_marks}")
print(f"Computer: {computer_marks}")
print("-" * 50)

SUBJECT-WISE MARKS:
Mathematics: 85
Science: 90
English: 78
History: 82
Computer: 95
--------------------------------------------------

In [ ]:
# Display results
print(f"Total Marks: {total_marks} / 500")
print(f"Average Marks: {average_marks:.2f}")
print(f"Percentage: {(average_marks):.2f}%")

Total Marks: 430 / 500
Average Marks: 86.00
Percentage: 86.00%

# Conditional Statements in Python - Making Decisions

## The Traffic Signal Story - Introduction


Imagine you're driving to college every morning. What happens at traffic signals?

🔴 RED Light → You STOP

🟡 YELLOW Light → You SLOW DOWN

🟢 GREEN Light → You GO

Your brain automatically makes decisions based on conditions.
This is exactly what conditional statements do in programming!

Real-life decisions:
- IF it's raining → Take umbrella
- IF marks >= 40 → Student passes
- IF age >= 18 → Can vote
- IF price <= budget → Buy the product

Today we'll teach Python to make intelligent decisions!

-------------------

## Structure of Conditional Statements

BASIC STRUCTURE:

if condition:
    
    # code to execute if condition is True

    # This block runs only when condition is True

SYNTAX RULES:
1. 'if' keyword in lowercase
2. Condition (returns True or False)
3. Colon : at the end
4. Indentation (4 spaces or 1 tab) is MANDATORY
5. All code in the if-block must be indented equally

Think of indentation as showing "this code belongs to if statement"

In [ ]:
# Example 1: Basic if statement

age = 20

if age >= 18:
    print("You are an adult")
    print("You can vote")

print("This line always executes")

You are an adult
You can vote
This line always executes

In [ ]:
# Example 2: Checking temperature
temperature = 38

if temperature > 37:
    print("You have fever!")
    print("Please consult a doctor")

You have fever!
Please consult a doctor

In [ ]:
# Example 3: variables and comparison
marks = 85

if marks >= 40:
    print("Congratulations! You passed")

if marks >= 90:
    print("Excellent! You got A+ grade")

Congratulations! You passed

In [ ]:
# Example 4: String comparison
username = "student123"

if username == "student123":
    print("Welcome back, Student!")

Welcome back, Student!

In [ ]:
# Example 5: Using logical operators with if
marks = 85
attendance = 80

if marks >= 40 and attendance >= 75:
    print("You are eligible for final exam")

You are eligible for final exam

PRACTICE EXERCISE 1:
1. Create a variable price = 1500 and budget = 2000
2. Use if to check if price <= budget, print "You can buy this product"
3. Create a variable is_raining = True
4. Use if to check is_raining, print "Take an umbrella"
5. Create age = 16, use if to check if age >= 18, print "You can get driving license"

## 2. if-else Statement

In [ ]:
"""
The 'if-else' statement:
- Checks a condition
- If True, executes if-block
- If False, executes else-block
- One of the two blocks ALWAYS executes

Structure:
if condition:
    # executes when condition is True
else:
    # executes when condition is False
"""

"\nThe 'if-else' statement:\n- Checks a condition\n- If True, executes if-block\n- If False, executes else-block\n- One of the two blocks ALWAYS executes\n\nStructure:\nif condition:\n    # executes when condition is True\nelse:\n    # executes when condition is False\n"

In [ ]:
# Example 1: Basic if-else
age = 16

if age >= 18:
    print("You are an adult")
    print("You can vote")
else:
    print("You are a minor")
    print("You cannot vote yet")

You are a minor
You cannot vote yet

In [ ]:
# Example 2: Even or Odd
number = 17

if number % 2 == 0:
    print(f"{number} is an EVEN number")
else:
    print(f"{number} is an ODD number")

17 is an ODD number

In [ ]:
# Example 3: Pass or Fail
marks = 35

if marks >= 40:
    print("Result: PASSED")
    print("Congratulations!")
else:
    print("Result: FAILED")
    print("Better luck next time")

Result: FAILED
Better luck next time

In [ ]:
# Example 4: Product availability
in_stock = False

if in_stock:
    print("Product is available")
    print("You can place order")
else:
    print("Product is out of stock")
    print("Please check back later")

Product is out of stock
Please check back later

In [ ]:
# Example 5: Temperature check
temperature = 36

if temperature > 37:
    print("You have fever")
else:
    print("Your temperature is normal")

Your temperature is normal

In [ ]:
# Example 6: Using string methods from previous notes
password = "Python123"

if len(password) >= 8:
    print("Strong password")
else:
    print("Weak password - Use at least 8 characters")

Strong password

In [ ]:
"""
PRACTICE EXERCISE 2:
1. Create a variable marks = 55
2. Use if-else to check if marks >= 40, print "Passed" or "Failed"
3. Create a variable age = 25
4. Use if-else to check if age >= 21, print "Can drive car" or "Cannot drive car"
5. Create number = 50, check if divisible by 5, print "Divisible" or "Not divisible"
"""

'\nPRACTICE EXERCISE 2:\n1. Create a variable marks = 55\n2. Use if-else to check if marks >= 40, print "Passed" or "Failed"\n3. Create a variable age = 25\n4. Use if-else to check if age >= 21, print "Can drive car" or "Cannot drive car"\n5. Create number = 50, check if divisible by 5, print "Divisible" or "Not divisible"\n'

## 3. elif Statement (else-if)

"""
The 'elif' statement:
- Used for multiple conditions
- Checks conditions one by one from top to bottom
- Executes the FIRST True condition and skips rest
- Can have multiple elif statements
- Optional else at the end as default case

Structure:


```
#
if condition1:
    # executes if condition1 is True
elif condition2:
    # executes if condition1 is False and condition2 is True
elif condition3:
    # executes if condition1 and condition2 are False and condition3 is True
else:
    # executes if all conditions are False
```

In [ ]:
# Example 1: Traffic Signal (our opening story!)
signal = "GREEN"

if signal == "GREEN":
    print("GO - Drive ahead")
elif signal == "YELLOW":
    print("SLOW DOWN - Prepare to stop")
elif signal == "RED":
    print("STOP - Wait for green")
else:
    print("Invalid signal")

GO - Drive ahead

In [ ]:
# Example 2: Grade calculation
marks = 85

if marks >= 90:
    print("Grade: A+")
    print("Outstanding performance!")
elif marks >= 80:
    print("Grade: A")
    print("Excellent work!")
elif marks >= 70:
    print("Grade: B")
    print("Good job!")
elif marks >= 60:
    print("Grade: C")
    print("Satisfactory")
elif marks >= 40:
    print("Grade: D")
    print("Just passed")
else:
    print("Grade: F")
    print("Failed - Need to work harder")

Grade: A
Excellent work!

In [ ]:
# Example 3: Day of the week
day = 1

if day == 1:
    print("Monday")
elif day == 2:
    print("Tuesday")
elif day == 3:
    print("Wednesday")
elif day == 4:
    print("Thursday")
elif day == 5:
    print("Friday")
elif day == 6:
    print("Saturday")
elif day == 7:
    print("Sunday")
else:
    print("Invalid day number")

Monday

In [ ]:
# Example 4: Age categories
age = 45

if age < 13:
    print("You are a child")
elif age < 20:
    print("You are a teenager")
elif age < 60:
    print("You are an adult")
else:
    print("You are a senior citizen")

You are an adult

In [ ]:
# Example 5: Temperature categories
temperature = 42

if temperature >= 40:
    print("Extremely hot - Stay indoors")
elif temperature >= 30:
    print("Hot - Use air conditioning")
elif temperature >= 20:
    print("Pleasant - Enjoy the weather")
elif temperature >= 10:
    print("Cool - Wear light jacket")
else:
    print("Cold - Wear warm clothes")

Extremely hot - Stay indoors



```
PRACTICE EXERCISE 3:
1. Create a variable time = 14 (24-hour format)
2. Use if-elif-else to print:
   - "Good Morning" if time < 12
   - "Good Afternoon" if time < 17
   - "Good Evening" if time < 21
   - "Good Night" otherwise
3. Create percentage = 75, categorize as:
   - Distinction (>= 75)
   - First Class (>= 60)
   - Second Class (>= 50)
   - Pass (>= 40)
   - Fail (< 40)
```

In [ ]:
## 4. Complete Examples with Previous Concepts

# Example 1: Using variables and operators from previous notes
print("\n" + "="*50)
print("EXAMPLE 1: CALCULATOR WITH DECISIONS")
print("="*50)

num1 = 10
num2 = 5
operation = "add"

if operation == "add":
    result = num1 + num2
    print(f"{num1} + {num2} = {result}")
elif operation == "subtract":
    result = num1 - num2
    print(f"{num1} - {num2} = {result}")
elif operation == "multiply":
    result = num1 * num2
    print(f"{num1} * {num2} = {result}")
elif operation == "divide":
    if num2 != 0:  # Nested if to check division by zero
        result = num1 / num2
        print(f"{num1} / {num2} = {result}")
    else:
        print("Error: Cannot divide by zero")
else:
    print("Invalid operation")

==================================================
EXAMPLE 1: CALCULATOR WITH DECISIONS
==================================================
10 + 5 = 15

In [ ]:
# Example 2: Using strings and type casting from previous notes

print("\n" + "="*50)
print("EXAMPLE 2: USER LOGIN SYSTEM")
print("="*50)

stored_username = "student123"
stored_password = "python2024"

input_username = "student123"
input_password = "python2024"

if input_username == stored_username and input_password == stored_password:
    print("Login Successful!")
    print(f"Welcome, {input_username.upper()}")
else:
    print("Login Failed!")
    print("Invalid username or password")

==================================================
EXAMPLE 2: USER LOGIN SYSTEM
==================================================
Login Successful!
Welcome, STUDENT123

In [ ]:
# Example 3: Using lists from previous notes
print("\n" + "="*50)
print("EXAMPLE 3: SHOPPING CART")
print("="*50)

cart_items = ["Laptop", "Mouse", "Keyboard"]
cart_count = len(cart_items)

if cart_count == 0:
    print("Your cart is empty")
    print("Start shopping!")
elif cart_count <= 3:
    print(f"You have {cart_count} items in cart")
    print("Items:", cart_items)
else:
    print(f"You have {cart_count} items in cart")
    print("You get free delivery!")

==================================================
EXAMPLE 3: SHOPPING CART
==================================================
You have 3 items in cart
Items: ['Laptop', 'Mouse', 'Keyboard']

In [ ]:
## 5. REAL-WORLD PROJECT 1: Student Grading System

print("\n" + "="*60)
print("PROJECT 1: STUDENT GRADING SYSTEM")
print("="*60)

# Student information (using variables from Day 3)
student_name = "Rahul Sharma"
student_roll = 101

# Marks in different subjects (using integers from Day 3)
math_marks = 85
science_marks = 90
english_marks = 78
history_marks = 82
computer_marks = 95

# Calculate total and average (using arithmetic operators from Day 5)
total_marks = math_marks + science_marks + english_marks + history_marks + computer_marks
average_marks = total_marks / 5
percentage = average_marks  # Since each subject is out of 100

# Display student info (using f-strings from Day 4)
print(f"\nStudent Name: {student_name}")
print(f"Roll Number: {student_roll}")
print("-" * 60)

# Display marks (using variables)
print("SUBJECT-WISE MARKS:")
print(f"Mathematics: {math_marks}")
print(f"Science: {science_marks}")
print(f"English: {english_marks}")
print(f"History: {history_marks}")
print(f"Computer: {computer_marks}")
print("-" * 60)

# Calculate and display totals (using operators)
print(f"Total Marks: {total_marks} / 500")
print(f"Percentage: {percentage:.2f}%")

# Determine grade using if-elif-else
print("-" * 60)
if percentage >= 90:
    grade = "A+"
    remarks = "Outstanding Performance!"
elif percentage >= 80:
    grade = "A"
    remarks = "Excellent Work!"
elif percentage >= 70:
    grade = "B"
    remarks = "Good Job!"
elif percentage >= 60:
    grade = "C"
    remarks = "Satisfactory"
elif percentage >= 40:
    grade = "D"
    remarks = "Need Improvement"
else:
    grade = "F"
    remarks = "Failed - Work Harder"

print(f"Grade: {grade}")
print(f"Remarks: {remarks}")

# Check pass/fail using if-else
print("-" * 60)
if percentage >= 40:
    print("RESULT: ✓ PASSED")

    # Check for distinction using nested if
    if percentage >= 75:
        print("STATUS: PASSED WITH DISTINCTION")
    elif percentage >= 60:
        print("STATUS: PASSED WITH FIRST CLASS")
    else:
        print("STATUS: PASSED")

    # Check scholarship eligibility (using logical operators from Day 5)
    if percentage >= 85 and math_marks >= 80 and science_marks >= 80:
        print("SCHOLARSHIP: ✓ ELIGIBLE")
        print("Congratulations! You qualify for Merit Scholarship")
    else:
        print("SCHOLARSHIP: ✗ NOT ELIGIBLE")
else:
    print("RESULT: ✗ FAILED")
    print("Please work harder and try again")

# Subject-wise analysis
print("-" * 60)
print("SUBJECT-WISE ANALYSIS:")

if math_marks < 40:
    print("⚠ Mathematics: FAIL - Need to improve")
elif math_marks >= 80:
    print("✓ Mathematics: EXCELLENT")
else:
    print("✓ Mathematics: PASS")

if science_marks < 40:
    print("⚠ Science: FAIL - Need to improve")
elif science_marks >= 80:
    print("✓ Science: EXCELLENT")
else:
    print("✓ Science: PASS")

if english_marks < 40:
    print("⚠ English: FAIL - Need to improve")
elif english_marks >= 80:
    print("✓ English: EXCELLENT")
else:
    print("✓ English: PASS")

print("="*60)

============================================================
PROJECT 1: STUDENT GRADING SYSTEM
============================================================

Student Name: Rahul Sharma
Roll Number: 101
------------------------------------------------------------
SUBJECT-WISE MARKS:
Mathematics: 85
Science: 90
English: 78
History: 82
Computer: 95
------------------------------------------------------------
Total Marks: 430 / 500
Percentage: 86.00%
------------------------------------------------------------
Grade: A
Remarks: Excellent Work!
------------------------------------------------------------
RESULT: ✓ PASSED
STATUS: PASSED WITH DISTINCTION
SCHOLARSHIP: ✓ ELIGIBLE
Congratulations! You qualify for Merit Scholarship
------------------------------------------------------------
SUBJECT-WISE ANALYSIS:
✓ Mathematics: EXCELLENT
✓ Science: EXCELLENT
✓ English: PASS
============================================================